body {
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
}

header {
    display: inline;
    width: 1000px;
}


header nav {
    display: inline-block;
    vertical-align: middle;
}

header ul {

}

header nav li {
    list-style: none;
    display: inline;
    margin-left: 2em;
}

a {
    color: black;
}

main {
    width: ;
    text-align: center;

}

main section {
    text-align: center;
    margin-top: 0;
    box-sizing: border-box;
}

main section article {
    width: 1000px;
    margin-left: 500px;
}

main section img {
    border-radius: 50%;
    margin-top: 6em;
    margin-right: 2em;
}

section:first-child {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondvert {
    background-color: #27ae61;
}

.fondvert h2 {
    color: white;
}
.fondvert h3 {
    color: rgba(255,255,255,.8);
}

.fondvert p {
    color: rgba(255,255,255,.8);
}

#fondblanc {
    background-color: white;
}

#fondblanc h2 {
    color: #2b3f48;
}

#fondblanc h3 {
    color: #656565;
}

#fondblanc p {
    color: #656565;
}

button {
    border: none;
    border-radius: 10px;
    height: 4em;
    width: 16em;
    margin-bottom: 6em;
    margin-top: 3em;
}

#buttonsection1 {
    background-color: #2b3f48;
    color: white;
}

#buttonsection2 {
    background-color: #27ae61;
    color: white;
}

#buttonsection3 {
    background-color: white;
    color: #27ae61;
}
footer {
    text-align: center;

}

footer p {
    color: #656565;
}

footer a {
    color: #2b3f48;
}

a {
    text-decoration: none;
}

.selected {
    color: #27ae61;
}
h1 {
    display: inline-block;
    color: #2b3f48;
    font-size: 55px;
    margin-left: 3em;
    margin-right: 8em;
}

h2:not(.pastime){
    padding-top: 2em;
    font-size: 55px;
}

h3 {
    font-size: 22px;
    margin-bottom: 3em;
    margin-top: -2em;
}

.pastime {
    display: inline-block;
    color: #2b3f48;
    font-size: 55px;
    margin-left: 3em;
}

#contact-form {
    width: 40%;
    margin-left: 0.3em;
    color: grey;
}

#contact-form > div {
    padding: 1.5em;
    margin-left: 1em;
    background-color: #27ae61;
    border-radius: 1em 1em 0 0;
    border: 1px solid #27ae61;
    color: white;
    background-image: url("../images/banner.png");
    background-size: cover;
}

#form {
    padding: 1em;
    margin-left: 1em;
    box-shadow: 0 0 3px lightgrey;
    border-radius: 0 0 0.3em 0.3em;
}

#contact-form > div > p,
h1 {
    margin: 0;
}

span {
    padding: 0.4em 1em;
    background-color: #27ae61;
    color: white;
    border-radius: 100%;
}

#contact-form h2 {
    display: inline;
    margin: 0 0.5em;
    font-size: 1.2em;
    color: #27ae61;
}

fieldset {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #F8F8F8;
    border: 0;
    border-radius: 0.3em;
}

label {
    display: block;
    margin-top: 1em;
}

input:not([type="checkbox"]):not([type="submit"]),
textarea {
    padding: 0.5em;
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 0.3em;
    width: 100%;
}

input[type="submit"] {
    padding: 0.5em 1em;
    color: white;
    background-color: #27ae61;
    border: 1px solid #27ae61;
    border-radius: 0.3em;
}
